:root {
	--background: oklch(0.985 0 0);
	--foreground: oklch(0.205 0 0);
	--card: oklch(0.97 0 0);
	--card-foreground: oklch(0.205 0 0);
	--popover: oklch(0.97 0 0);
	--popover-foreground: oklch(0.205 0 0);
	--primary: oklch(0.666 0.179 58.318);
	--primary-foreground: oklch(0.985 0.001 106.423);
	--secondary: oklch(0.985 0.001 106.423);
	--secondary-foreground: oklch(0.268 0.007 34.298);
	--muted: oklch(0.923 0.003 48.717);
	--muted-foreground: oklch(0.216 0.006 56.043);
	--accent: oklch(0.985 0.001 106.423);
	--accent-foreground: oklch(0.374 0.01 67.558);
	--destructive: oklch(0.577 0.245 27.325);
	--destructive-foreground: oklch(0.985 0.001 106.423);
	--border: oklch(0.869 0.005 56.366);
	--input: oklch(0.709 0.01 56.259);
	--ring: oklch(0.666 0.179 58.318);
	--chart-1: oklch(0.666 0.179 58.318);
	--chart-2: oklch(0.705 0.213 47.604);
	--chart-3: oklch(0.795 0.184 86.047);
	--chart-4: oklch(0.637 0.237 25.331);
	--chart-5: oklch(0.656 0.241 354.308);
	--sidebar: oklch(0.985 0.001 106.423);
	--sidebar-foreground: oklch(0.268 0.007 34.298);
	--sidebar-primary: oklch(0.2046 0 0);
	--sidebar-primary-foreground: oklch(0.666 0.179 58.318);
	--sidebar-accent: oklch(0.985 0.001 106.423);
	--sidebar-accent-foreground: oklch(0.268 0.007 34.298);
	--sidebar-border: oklch(0.869 0.005 56.366);
	--sidebar-ring: oklch(0.666 0.179 58.318);
	--font-sans: "Alef", "sans-serif";
	--font-serif: "Alef", "sans-serif";
	--font-mono: "Alef", "sans-serif";
	--radius: 0rem;
	--shadow-x: 0px;
	--shadow-y: 1px;
	--shadow-blur: 0px;
	--shadow-spread: 0px;
	--shadow-opacity: 0;
	--shadow-color: hsl(0 0% 0%);
	--shadow-2xs: 0px 1px 0px 0px hsl(0 0% 0% / 0);
	--shadow-xs: 0px 1px 0px 0px hsl(0 0% 0% / 0);
	--shadow-sm: 0px 1px 0px 0px hsl(0 0% 0% / 0), 0px 1px 2px -1px hsl(0 0% 0% / 0);
	--shadow: 0px 1px 0px 0px hsl(0 0% 0% / 0), 0px 1px 2px -1px hsl(0 0% 0% / 0);
	--shadow-md: 0px 1px 0px 0px hsl(0 0% 0% / 0), 0px 2px 4px -1px hsl(0 0% 0% / 0);
	--shadow-lg: 0px 1px 0px 0px hsl(0 0% 0% / 0), 0px 4px 6px -1px hsl(0 0% 0% / 0);
	--shadow-xl: 0px 1px 0px 0px hsl(0 0% 0% / 0), 0px 8px 10px -1px hsl(0 0% 0% / 0);
	--shadow-2xl: 0px 1px 0px 0px hsl(0 0% 0% / 0);
	--tracking-normal: 0em;
	--spacing: 0.25rem;
}

.dark {
	--background: oklch(0.145 0 0);
	--foreground: oklch(0.97 0 0);
	--card: oklch(0.205 0 0);
	--card-foreground: oklch(0.97 0.001 106.424);
	--popover: oklch(0.205 0 0);
	--popover-foreground: oklch(0.97 0.001 106.424);
	--primary: oklch(0.666 0.179 58.318);
	--primary-foreground: oklch(0.97 0.001 106.424);
	--secondary: oklch(0.268 0.007 34.298);
	--secondary-foreground: oklch(0.97 0.001 106.424);
	--muted: oklch(0.216 0.006 56.043);
	--muted-foreground: oklch(0.709 0.01 56.259);
	--accent: oklch(0.374 0.01 67.558);
	--accent-foreground: oklch(0.97 0.001 106.424);
	--destructive: oklch(0.505 0.213 27.518);
	--destructive-foreground: oklch(0.97 0.001 106.424);
	--border: oklch(0.374 0.01 67.558);
	--input: oklch(0.268 0.007 34.298);
	--ring: oklch(0.473 0.137 46.201);
	--chart-1: oklch(0.555 0.163 48.998);
	--chart-2: oklch(0.553 0.195 38.402);
	--chart-3: oklch(0.554 0.135 66.442);
	--chart-4: oklch(0.505 0.213 27.518);
	--chart-5: oklch(0.525 0.223 3.958);
	--sidebar: oklch(0.205 0 0);
	--sidebar-foreground: oklch(0.97 0.001 106.424);
	--sidebar-primary: oklch(0.555 0.163 48.998);
	--sidebar-primary-foreground: oklch(0.97 0.001 106.424);
	--sidebar-accent: oklch(0.268 0.007 34.298);
	--sidebar-accent-foreground: oklch(0.97 0.001 106.424);
	--sidebar-border: oklch(0.374 0.01 67.558);
	--sidebar-ring: oklch(0.473 0.137 46.201);
	--font-sans: "Alef", "sans-serif";
	--font-serif: "Alef", "sans-serif";
	--font-mono: "Alef", "sans-serif";
	--radius: 0rem;
	--shadow-x: 0px;
	--shadow-y: 1px;
	--shadow-blur: 0px;
	--shadow-spread: 0px;
	--shadow-opacity: 0;
	--shadow-color: hsl(0 0% 0%);
	--shadow-2xs: 0px 1px 0px 0px hsl(0 0% 0% / 0);
	--shadow-xs: 0px 1px 0px 0px hsl(0 0% 0% / 0);
	--shadow-sm: 0px 1px 0px 0px hsl(0 0% 0% / 0), 0px 1px 2px -1px hsl(0 0% 0% / 0);
	--shadow: 0px 1px 0px 0px hsl(0 0% 0% / 0), 0px 1px 2px -1px hsl(0 0% 0% / 0);
	--shadow-md: 0px 1px 0px 0px hsl(0 0% 0% / 0), 0px 2px 4px -1px hsl(0 0% 0% / 0);
	--shadow-lg: 0px 1px 0px 0px hsl(0 0% 0% / 0), 0px 4px 6px -1px hsl(0 0% 0% / 0);
	--shadow-xl: 0px 1px 0px 0px hsl(0 0% 0% / 0), 0px 8px 10px -1px hsl(0 0% 0% / 0);
	--shadow-2xl: 0px 1px 0px 0px hsl(0 0% 0% / 0);
	--tracking-normal: 0em;
	--spacing: 0.25rem;
}
